<section id="about" class="wow fadeIn">
    <div class="row">
        <div class="col-lg-6 col-lg-offset-3">
          <%
          if session[:user_id]
            exists = User.where(id: session[:user_id]).count
            if exists > 0
              user = User.where(id: session[:user_id]).last.nickname
            else
              user=""
            end
          else
            user=""
          end
          %>
          <h5 style="margin:0; color: #FF337D">Hej <%= user %>!</h5>
          <h2>Flights <i class="fa fa-angle-double-right" aria-hidden="true"></i> Dubai </h2>

          <%

          if params[:from_airport] == "KTW"
            ktw = "checked"
          elsif params[:from_airport] == "WAW"
            waw = "checked"
          elsif params[:from_airport] == "POZ"
            poz = "checked"
          else
            all = "checked"
          end
          %>

          <div class="row" style="margin: 0px 0px 5px 3px;">
            From:
            <div class="radio radio-info pull-left" style="margin: 0 10px;">
                <input type="radio" name="from_airport" value="all" onclick="javascript:window.location.href='/?list=on';" <%= all %>>
              <label>
                All
              </label>
            </div>

            <div class="radio radio-info pull-left" style="margin-right: 10px;">
                <input type="radio" name="from_airport" value="POZ" onclick="javascript:window.location.href='/?list=on&from_airport=POZ';" <%= poz %>>
              <label title="Poznan">
                POZ
              </label>
            </div>

            <div class="radio radio-info pull-left" style="margin-right: 10px;">
                <input type="radio" name="from_airport" value="WAW" onclick="javascript:window.location.href='/?list=on&from_airport=WAW';" <%= waw %>>
              <label title="Warszawa">
                WAW
              </label>
            </div>

            <div class="radio radio-info pull-left" style="margin-right: 10px;">
                <input type="radio" name="from_airport" value="KTW" onclick="javascript:window.location.href='/?list=on&from_airport=KTW';" <%= ktw %>>
              <label title="Katowice">
                KTW
              </label>
            </div>
          </div>


          <table class="table table-responsive table-hover">
                <col id="love" />
                <col id="from" />
                <col id="departure" />
                <col id="arrival" />
                <col id="days" />
                <col id="seats" />
                <col id="price" />
                <col id="price_change" />
                <col id="temp" />
                <col id="offer" />
          	<thead>
          		<tr>
                <th><i class="fa fa-heart" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Kliknij w serduszko a otrzymasz powiadomienie o zmianie ceny"></i></th>
                <th>From</th>
                <th>Dep</th>
          			<th>Return</th>
                <th>Days</th>
                <th>Seats</th>
          			<th>Price</th>
                <th>Airline</th>
          			<th>Price change</th>
                <th>Temp</th>
                <th>Offer</th>
          		</tr>
          	</thead>
          	<tbody>

            <%
            if params[:from_airport]
              q = "%#{params[:from_airport]}%"
              results = Offer.order(departure: :asc).where("from_airport LIKE ? AND active = ?", q, 1)
            else
              results = Offer.order(departure: :asc).where(active: 1)
            end
              results.each do |u|

                price = Price.where(offer_id: u.offer_id, active: 1).count

                if price > 0

                  days = (u.arrival - u.departure).to_i
                  item = Price.order(created_at: :desc).where(offer_id: u.offer_id, active: 1).first
                  line = Price.order(created_at: :asc).where("offer_id = ? AND active >= ?", u.offer_id, 0).pluck(:price)
                  if session[:user_id]
                    love=Save.where(user_id: session[:user_id], offer_id: u.offer_id, active:1).count
                    if love>0
                      checked="checked"
                    else
                      checked=""
                    end
                  else
                    checked="disabled='disabled'"
                  end

                  if item.available_seats.nil?
                      seats=0
                  else
                      seats=item.available_seats
                  end

                  if item.price
                    price=item.price
                  else
                    price=0
                  end

                  if item.source=="ENT"
                    url="https://oferty.tui.pl/new-rezerwacja-oferty?id_o=#{u.offer_id}&trv=ch&ad_count=1&ch_count=0&in_count=0"
                    logo=""
                    source=item.source
                  else
                    url="http://www.enterair.pl/en/buy-ticket#BookingSecondPagePlace:false&#{u.from_airport}&#{u.to_airport}&#{u.departure}&#{u.arrival}&0&PLN&&1=2,2=0,3=0"
                    logo=""
                    source="TUI"
                  end

                  %>
                    <tr>
                      <td><input type='checkbox' data-offerid='<%= u.offer_id %>' class='offerchecker' <%= checked %> /></td>
                      <td><%= u.from_airport %></td>
                      <td><%= u.departure.strftime("%d/%m") %></td>
                      <td><%= u.arrival.strftime("%d/%m") %></td>
                      <td><%= days %></td>
                      <td><%= seats %></td>
                      <td class="price"><%= price %></td>
                      <td><%= source %></td>
                      <td><span class="inlinesparkline"><%= line.to_sentence(:last_word_connector => ",") %></span></td>
                      <td><%= Offer.getTemp(u.departure) %></td>
                      <td><a href="<%= url %>" target="_blank"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a></td>
                    </tr>
                <% end %>
            <% end %>
            </tbody>
          </table>
        </div>
    </div>
</section>
